.oo {
   color:rgb(43, 114, 175);
font-size: 60px;
}

.ooo {
    color: rgb(209, 200, 21);
    font-size: 20px;
}

.uk {
    width: 300px; ;
        border: 2px solid rgb(0, 0, 0);
    }

.ff {
    font-size: 30px;
}

.pp {
    font-size: 20px;
}

.mm {
    font-size: 25px;
}

.dd {
    font-size: 50px;
    color: rgb(43, 114, 175);
}